.blog-container {
    display: flex;
    font-family: 'Newsreader';
}
  .semi-bold {
    font-weight: 500;
    color: red;
  }
  .blog-content {
    flex: 1;
    padding: 20px; 
  }
  
  .blog-section {
    margin-bottom: 20px; 
    max-width: 90%;
  }
  
  .blog-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .blog-image img {
    max-width: 80%; 
    height: auto;
  }