/* Textarea */
textarea {
    width: 100%;
    height: 36px;
    border: none; 
    border-bottom: 1px solid black;
    overflow-y: auto;
    max-height: 250px;
    box-sizing: border-box;
    padding-bottom: 5px;
    resize: none;
    transition-duration: 0.2s;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

textarea:focus {
    border-color: #ff4d6d;
    outline: 0;
}

/* Comment Form */
.comment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items:end;
    padding: 20px 0 30px 5px;
}

.comment-form form {
    width: 100%;
}

/* Actual contents */
.comment-container {
    margin-bottom: 10px;
}
.comment {
    display: flex;
    padding-bottom: 18px;
}

.profile-icon-comment {
    font-size: 36px;
}

.non-icon-comment {
    padding-left: 14px;
    display: flex;
    flex-direction: column;
}

/* Content information */
.comment-information {
    display: flex;
    height: 14px;
    margin-bottom: 12px;
}
.comment-information strong {
    padding: 0 5px 0 0;
    font-size: 17px;
}
.comment-information p {
    color: rgb(107, 107, 107);
    font-size: 15px;
}

/* Actions */
.comment-actions {
    display: flex;
    align-items: center;
}

.comment-actions p {
    margin-bottom: 0;
}

.comment-actions > * {
    margin-right: 10px; 
}

/* BUTTONS */

#comment-submit-off, #comment-submit-on {
    font-size: 15px;
    max-width: 15%;
}

#comment-submit-off {
    background-color: rgb(221, 221, 221);
    color:rgb(131, 131, 131);
}
#comment-submit-on {
    background-color: #ff4d6d;
    color: white;
}

#comment-submit-on:hover {
    background-color: #e13e5c
}

.like-icon {
    transition: color 0.3s ease;
    font-size: 16px;
    margin-right: 7px;
}

.like-icon:hover {
cursor: pointer;
color: #007bff; 
}